<h2 class="vertical-padding-50px">
  <div class="header-inside editing" contenteditable="true" id="title"><%= game.escape('title') %></div>
</h2>

<div class="game-top-box group">
    <div class="game-image-container outer">
      <img class="game-image" src="<%= game.escape('image_url') %>"/>

      <div class="overlay">
          <p class="text">Upload New Image</p>
      </div>
    </div>

    <div class="game-sidebar">
      <% if (game.active === true) { %>
        <div class="sidebar-el-small active-button game-activate cursor-hover deactivate">
          Deactivate This Game
        </div>
      <% } else { %>
        <div class="sidebar-el-small active-button game-activate cursor-hover activate">
          Activate This Game
        </div>
      <% } %>

      <% if (game.active === true) { %>
        <div class="sidebar-el-small game-active running">
          Running
        </div>
      <% } else { %>
        <div class="sidebar-el-small game-active dormant">
          Dormant
        </div>
      <% } %>

      <pre class="game-summary editing" id= "summary"
        contenteditable="true"><%= game.escape('summary') %></pre>

      <% if (game.followers === 1) { %>
        <div class="sidebar-el-small game-followers">
          1 Follower
        </div>
      <% } else { %>
        <div class="sidebar-el-small game-followers">
          <%= game.followers %> Followers
        </div>
      <% } %>

      <div class="sidebar-el-small save cursor-hover">
        Save Game
      </div>
    </div>
</div>

<div class="game-nav group description-box">
  <div id="description-title">Description</div>
  <pre id="description" class="editing game-tab-text-box" contenteditable="true"><%= game.escape('description') %></pre>
</div>
