<a href="<%='#games/' + game.id %>">
  <h3>
    <%= game.escape('title') %>
  </h3>

  <div>
    by <%= game.get('author_name') %>
  </div>

  <img src="<%= game.escape('image_url') %>", width="200px", height="150px"/>

  <div>
    <%= game.escape('summary') %>
  </div>

  <div>
    <% if (game.get('active')) { %>
      Running
    <% } else { %>
      Dormant
    <% } %>
  </div>
</a>
