<h4><a href="<%='#games/' + game.id %>">
  <%= game.escape('title') %>
</a></h4>

<p>
  by <%= game.get('author_name') %>
</p>

<img src="<%= game.escape('image_url') %>", width="200px", height="100px"/>

<p>
  <%= game.escape('summary') %>
</p>
