<div class="game-show-header">
  <h4>
    <%= game.escape('title') %>
  </h4>

  <p>
    by <%= game.get('author_name') %>
  </p>
</div>


<div class="game-show-image">
  <img src="<%= game.escape('image_url') %>", width="200px", height="100px"/>
</div>

<div class="game-show-side-bar">
  <% if(game.get('authored') === 'true') { %>
    <a href="#" class="game-show-active-button active">
      <% if(game.get('active') === 'true') { %>
        Deactivate This Game
      <% } else { %>
        Activate This Game
      <% } %>
    </a>
  <% } else { %>
    <p class="game-show-active-button">
      <% if(game.get('active') === 'true') { %>
        Active
      <% } else { %>
        Inactive
      <% } %>
    </p>
  <% } %>

  <p>
    <%= game.escape('summary') %>
  </p>

  <p>
    <% var followNum = game.get('following_players') %>
    <% if (followNum === '0'){ %>
      0 Followers :c
    <% } else if (followNum === '1') { %>
      1 Follower
    <% } else { %>
      <%= followNum %> Followers
    <% } %>
  </p>

  <% if(game.get('authored') === 'true') { %>
    This Is Your Game
  <% } else if(game.get('following') === 'false') { %>
    Follow
  <% } else if(game.get('following') === 'true') { %>
    Unfollow
  <% } else { %>
    Log In To Follow Games
  <% } %>

</div>

<div class="game-show-description">
  <p>
    <%= game.escape('description') %>
  <p>
</div>
