<h4><%= game.escape('title') %></h4>

<img src="<%= game.get('image_url') %>", width="200px", height="100px"/>

<p>
  <%= game.escape('summary') %>
</p>

<p>
  <%= game.escape('description') %>
<p>

<p>
  <%= game.escape('following_players') %>
</p>

<p>
  <%= game.escape('active') %>
</p>
